&.sse-status {
    margin: 1rem auto;
    padding: 0;

    width: 66%;
    max-width: 800px;

    border: solid 1px $twitter-light-border;
    border-radius: 4px;

    font-family: $family-sans-serif;

    background-color: $twitter-light-background;

    @include mobile {
        width: 100%;
        border-radius: 0;
    }

    @include tablet {
        width: 84%;
    }

    .sse-verified svg {
        .sse-verified-badge {
            fill: $twitter-blue;
        }
        .sse-verified-check {
            fill: $twitter-white;
        }
    }

    header {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 1.4rem 2rem 1rem;

        background: $twitter-light-background none;

        .sse-status-author-avatar {
            width: 48px;
            height: 48px;

            overflow: hidden;
            text-align: center;

            color: $twitter-light-text;

            img {
                border-radius: 426921px;
            }
        }

        .sse-status-author-name {
            flex-grow: 2;

            padding-left: 1rem;

            .sse-status-author-display-name {
                font-size: $twitter-font-size-medium;

                a {
                    color: $twitter-light-text;
                    font-weight: bold;
                }

                .sse-verified {
                    position: relative;
                    top: .1rem;
                    left: .2rem;
                }
            }

            .sse-status-author-handle {
                font-size: $twitter-font-size-small;

                a {
                    color: $twitter-light-text-gray;
                }
            }
        }

        .sse-status-network-icon {
            align-self: start;
            font-size: 1.8rem;
            color: $twitter-blue;
        }
    }

    figure {
        position: relative;

        margin: .8rem 0;
        width: 100%;

        .sse-status-image {
            display: none;
            position: relative;

            &.is-active {
                display: block;
                height: 100%;
            }

            &.sse-status-image-video, &.sse-status-image-animated-gif {
                cursor: pointer;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;

                &.is-hidden {
                    display: none;
                }
            }

            video {
                display: none;
                width: 100%;

                &.is-active {
                    display: block;
                }
            }

            .sse-status-image-progress-dots {
                position: absolute;
                bottom: .6rem;

                width: 100%;
                text-align: center;

                @include unselectable;

                .sse-status-image-progress-dot {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 426921px;
                    background-color: transparent;

                    transition: background-color .1s ease-in-out;

                    // Color at the bottom of the figure block, on figure's hover.
                }

                &.is-hidden {
                    display: none;
                }
            }

            .sse-status-image-handle-play {
                position: absolute;
                top: calc(50% - 2rem);
                right: calc(50% - 2rem);

                display: flex;
                align-items: center;

                width: 4rem;
                height: 4rem;

                background-color: $twitter-blue;
                border: solid 5px $twitter-white;

                border-radius: 426921px;

                @include unselectable;

                span {
                    padding-left: calc(50% - 0.36em);
                    color: white;
                }

                &.is-hidden {
                    display: none;
                }

                &:hover {
                    text-decoration: none;
                }
            }

            .sse-status-image-badge {
                position: absolute;
                bottom: 1rem;
                left: 1rem;

                padding: .1rem .8rem;

                border-radius: 4px;

                background-color: rgba(black, .8);
                color: white;

                font-size: 1rem;

                @include unselectable;

                &.is-hidden {
                    display: none;
                }
            }
        }

        .sse-status-image-handle-next, .sse-status-image-handle-prev {
            position: absolute;
            right: 0;
            top: 0;

            display: flex;
            align-items: center;

            padding-right: 1rem;

            height: 100%;
            width: 16%;

            text-align: right;

            background-image: linear-gradient(to left, transparent, transparent);
            color: rgba(darken($twitter-blue, 16%), .4);

            transition: background-image .2s ease-in-out;

            @include unselectable;

            &:hover {
                color: $twitter-blue;
                background-image: linear-gradient(to left, rgba(lighten($twitter-blue, 42%), .4), transparent 100%);
                text-decoration: none;
            }
        }

        .sse-status-image-handle-prev {
            left: 0;
            padding-left: 1rem;
            text-align: left;

            &:hover {
                background-image: linear-gradient(to right, rgba(lighten($twitter-blue, 42%), .6), transparent 100%);
            }
        }

        .sse-status-image-handle-next span {
            width: 100%;
        }

        &:hover .sse-status-image .sse-status-image-progress-dots .sse-status-image-progress-dot {
            background-color: rgba(white, .4);

            &.is-active {
                background-color: white;
            }
        }

        &.is-playing {
            .sse-status-image-handle-next, .sse-status-image-handle-prev {
                height: calc(100% - 40px);
                color: transparent;

                &:hover {
                    color: $twitter-blue;
                }
            }
        }
    }

    p.sse-status-content, div.sse-status-content {
        margin: 0;
        padding: 0 2rem .8rem;

        text-align: left;

        font-family: $family-tweet;
        font-size: $twitter-font-size-large;
        color: $twitter-light-text;

        line-height: $twitter-tweet-line-height;

        @include mobile {
            font-size: $twitter-font-size-large * .9;
        }

        a {
            color: $twitter-light-link;

            &:hover {
                color: darken($twitter-light-link, 16%);
            }
        }

        .sse-twitter-handle-at, .sse-twitter-hashtag-hash {
            color: lighten($twitter-light-link, 12%);
        }
    }

    .sse-quoted-tweet {
        margin: 0 2rem .8rem;
        padding: 0;

        a {
            display: flex;
            flex-direction: row;

            border: 1px solid $twitter-light-border;
            border-radius: 4px;

            @include mobile {
                flex-direction: column-reverse;
            }

            &:hover {
                border-color: $twitter-light-border-hover;
            }

            figure.sse-quoted-tweet-image {
                width: 16rem;

                margin: .8rem 0 .8rem .8rem;

                @include mobile {
                    margin: 0;
                    width: 100%;
                }

                img {
                    width: 100%;
                    position: initial;
                }

                & + .sse-quoted-tweet-content {
                    header, p {
                        padding-left: .8rem;
                    }
                }
            }

            header {
                height: auto;

                padding-top: .5rem;
                padding-left: .9rem;
                padding-bottom: 0;

                font-size: $twitter-font-size-medium;

                @include mobile {
                    padding-bottom: .5rem;
                    font-size: $twitter-font-size-medium * .9;
                }

                .sse-quoted-tweet-author-display-name {
                    display: inline-block;
                    margin-right: .4rem;

                    color: $twitter-light-text;
                    font-weight: bold;
                }

                .sse-verified + .sse-quoted-tweet-author-handle {
                    display: inline-block;
                    padding-left: .8rem;
                }

                .sse-quoted-tweet-author-handle {
                    color: $twitter-light-text-gray;
                }

                .sse-verified {
                    position: relative;
                    top: .1rem;
                    left: .2rem;
                }
            }

            p {
                padding-left: .8rem;

                &.sse-quoted-tweet-content {
                    padding-bottom: .9rem;

                    font-size: $twitter-font-size-medium;
                    line-height: $twitter-tweet-line-height / 1.5;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;

        margin: 0 2rem .6rem;

        p.sse-status-date {
            margin: 0;
            padding: 0;

            font-family: $family-tweet;
            font-size: $twitter-font-size-medium;

            &, a, a:hover {
                color: $twitter-light-text-gray;
            }

            .sse-status-source {
                display: inline-block;
                padding-right: 1.4rem;

                font-size: 0.9em;
                color: lighten($twitter-light-text-gray, 16%);

                @include mobile {
                    display: none;
                }
            }
        }

        aside.sse-status-stats {
            flex: 2;

            margin: 0;
            padding: 0;

            ul {
                padding: 0;

                li {
                    display: inline-block;
                    width: 4rem;

                    text-align: left;
                    font-size: $twitter-font-size-medium;

                    list-style-type: none;

                    @include mobile {
                        width: auto;
                        padding-right: .4rem;
                    }

                    @include tablet {
                        width: auto;
                        padding-right: 1.2rem;
                    }

                    @include small-desktop {
                        width: auto;
                        padding-right: 2rem;
                    }

                    &:before, &:after {
                        display: none;
                        content: none;
                    }

                    a {
                        color: lighten($twitter-light-text-gray, 16%);
                        text-decoration: none;

                        .icon {
                            // Hack for themes including Line-Awesome (that's the case of the default theme, Quark).
                            // These are using the same class names as Font-Awesome and mess with the icon font.
                            .fas.fa-reply:before {
                                content: "\f3e5" !important;
                            }
                        }

                        .stat {
                            position: relative;
                            top: -.12em;

                            font-size: .8em;
                        }
                    }

                    &.link-reply, &.link-send {
                        @include mobile {
                            display: none;
                        }
                    }

                    &.link-reply a:hover {
                        color: $twitter-light-icon-reply-hover;
                    }
                    &.link-retweet a:hover {
                        color: $twitter-light-icon-retweet-hover;
                    }
                    &.link-like a:hover {
                        color: $twitter-light-icon-like-hover;
                    }
                    &.link-send a:hover {
                        color: $twitter-light-icon-send-hover;
                    }
                }
            }
        }
    }

    // For tweets quoting others, the last link is a link to the quoted tweet
    &.has-quoted-tweet p.sse-status-content a:last-of-type {
        display: none;
    }

    // Dark theme
    &.sse-theme-dark {
        border-color: $twitter-dark-border;
        background-color: $twitter-dark-background;

        .sse-verified svg {
            .sse-verified-badge {
                fill: white;
            }
            .sse-verified-check {
                fill: $twitter-dark-background;
            }
        }

        header {
            background-color: $twitter-dark-background;

            .sse-status-author-avatar {
                color: $twitter-dark-text;
            }

            .sse-status-author-name {
                .sse-status-author-display-name a {
                    color: $twitter-dark-text;
                }
                .sse-status-author-handle a {
                    color: $twitter-light-text-gray;
                }
            }
        }

        p.sse-status-content {
            color: $twitter-dark-text;

            a {
                color: $twitter-dark-link;

                &:hover {
                    color: lighten($twitter-dark-link, 16%);
                }
            }

            .sse-twitter-handle-at, .sse-twitter-hashtag-hash {
                color: lighten($twitter-dark-link, 4%);
            }
        }

        .sse-quoted-tweet a {
            border-color: $twitter-dark-border;

            &:hover {
                border-color: $twitter-dark-border-hover;
            }

            .sse-quoted-tweet-author-display-name {
                color: $twitter-dark-text;
            }
            .sse-quoted-tweet-author-handle {
                color: $twitter-dark-text-gray;
            }
        }

        footer {
            p.sse-status-date {
                &, a, a:hover {
                    color: $twitter-dark-text-gray;
                }
                .sse-status-source {
                    color: lighten($twitter-dark-text-gray, 8%);
                }
            }

            aside.sse-status-stats ul li a {
                color: lighten($twitter-dark-text-gray, 16%);
            }
        }
    }
}
